<nav class="navbar">
  <a href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</a>
  <ul>
    <li ng-class="{active : vm.state.type == 'dashboard'}" ng-click="navChange('dashboard')">
      <a ng-href="#!/dashboard">Dashboard</a>
    </li>
    <li ng-class="{active : vm.state.type == 'todo'}" ng-click="navChange('todo')">
      <a ng-href="#!/todo">Todo</a>
    </li>
  </ul>
  <ul style="float: right; display: flex; justify-content: center; align-items: center;">
    <li style="float: right"><a>{{ vm.state.time | date: 'yyyy-MM-dd HH:mm:ss' }}</a></li>
  </ul>
  <button class="btn btn-primary btn-sm" ng-click="logout()">logout</button>
</nav>
